// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


// Font Variables

$monofett-cursive: 'Monofett', cursive;
$major-mono-display: 'Major Mono Display', monospace;
$inconsolata: 'Inconsolata', monospace;
$space-mono: 'Space Mono', monospace;


// Colors
$primary-color: white;
$secondary-color: black;

// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == largest {
    @media (min-width: 1300px) { @content };
  }
  @if $breakpoint == large {
    @media (min-width: 1023px) { @content };
  }
  @if $breakpoint == medium {
    @media (min-width: 767px) { @content };
  }
  @if $breakpoint == small {
    @media (min-width: 479px) { @content };
  }
}