// Mobile first (additional media queries for medium, large and largest screen)
.frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  border-bottom: solid 2px $primary-color;
  height: 60vh;
  @include respond(medium) {
    height: 90vh;
  }
}

.picture {
  display: flex;
  justify-content: center;
}

.about-container {
  margin-top: 50px;
  background-color: none;
  padding: 5px;
}

.about-col-1,
.about-col-2,
.about-col-3 {
  padding: 5px;
  //background: url(../img/textur-1-small-ljus.jpg);
  margin-bottom: 30px;
}

// All font
h2,
h3,
p {
  background-color: $primary-color;
  color: $secondary-color;
}

h2,
h3 {
  display: inline;
  font-family: $space-mono;
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  font-family: $inconsolata;
  font-size: 1rem;
}

// Medium screen
@media screen and (min-width: 768px){
// Fonts

// Columns and sections
.about-container {
    width: 100%;
    .about-col-1 {
    margin-left: 10vw;
    width: 80vw;
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    }
    .about-col-2 {
    margin-left: 5vw;
    width: 90vw;
    border-left: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    }
    .about-col-3 {
    margin-left: 45vw;
    left: 50vw;
    width: 50vw;
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    }
  }
}

// Large screen
@media screen and (min-width: 1023px) {
// Columns and sections
.about-container {
    width: 100%;
    .about-col-1 {
    margin-left: 10vw;
      width: 80vw;
      border-right: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      padding: 10px;
    }
    .about-col-2 {
      margin-left: 5vw;
      width: 90vw;
      border-left: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      padding: 10px;
    }
    .about-col-3 {
      margin-left: 45vw;
      left: 50vw;
      width: 50vw;
      border-right: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      padding: 10px;
    }
  }
}

// Largest screen
@media screen and (min-width: 1300px) {
// Fonts
p,
a {
  font-size: 2rem;
}
h2,
h3 {
  font-size: 2.4rem;
}

// Columns and sections
.about-container {
    width: 100%;
    .about-col-1 {
    margin-left: 10vw;
    width: 50vw;
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    }
    .about-col-2 {
    margin-left: 5vw;
    width: 50vw;
    border-left: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    }
    .about-col-3 {
    margin-left: 45vw;
    left: 50vw;
    width: 50vw;
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    }
  }
}