// Mobile first (search for 'Medium and large screen' for additional media queries)
.main-container {
    padding: 5px;
}

.main-col-1,
.main-col-2,
.main-col-3,
.main-col-4 {
    padding: 5px;
    margin-top: 30px;
    //background: url(../img/textur-1-small-ljus.jpg);
}

// Font
h4 {
    display: inline;
    background-color: none;
    font-size: 1.2rem;
    font-family: $space-mono;
    text-transform: uppercase;
}

p {
    font-family: $inconsolata;
}

h4,
p {
    background-color: white;
    color: black;
}

// Lists and links
ul {
    display: inline;
}

li {
    list-style-type: none;
    font-family: $inconsolata;
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
}

a {
    font-family: $inconsolata;
    color: $secondary-color;
    background-color: $primary-color;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: $primary-color;
    background-color: $secondary-color;
}

a:active {
    background-color: $primary-color;
    color: $secondary-color;
  }

.underline-links {
    color: $primary-color;
    background-color: $secondary-color;
}

// Medium and large screen
@media screen and (min-width: 767px) {

    // Col sizing and positioning

    // Fonts
    h4 {
        font-size: 2rem;
    }

    li {
    list-style-type: none;
    font-family: "Inconsolata",monospace;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 2rem;
    }
}

// Large screen
@media screen and (min-width: 1023px) {

    // Col sizing and positioning

    .main-container {
      padding: 5px 5px 60px 5px;
    }
/*
    .main-col-1 {
      width: 100%;
      height: 50vh;
      margin: 0;
      width: 45vw;
      height: 40vh;
      margin-left: 2.5vh;
      border: 1px solid $primary-color;
    }
    
    .main-col-2 {
      width: 100%;
      height: 50vh;
      margin: 0;
      width: 45vw;
      height: 40vh;
      margin-top: -25%;
      margin-left: 50vw;
      border: 1px solid $primary-color;
    }

    .main-col-3 {
        padding-top: 30px;
        margin: 0;
        border: 1px solid $primary-color;
    }
    */
}