// Mobile first (additional media queries for medium, large and largest screen)
// Columns and sections
.main-container {
    width: 100%;
    .main-col-1 {
    margin-left: 10%;
    width: 80%;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 10px;
    }
    .main-col-2 {
    margin-left: 10%;
    width: 80%;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 10px;
    }
    .main-col-3 {
    margin-left: 10%;
    width: 80%;
    border-right: 1px solid $border-color;
    padding: 10px;
    }
    .main-col-4 {
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    border-left: 1px solid $border-color;
    }
  }

// Font
h4 {
    display: inline;
    background-color: none;
    font-size: 1.2rem;
    font-family: $space-mono;
    text-transform: uppercase;
}

p {
    font-family: $inconsolata;
}

h4,
p {
    background-color: white;
    color: black;
}

// Lists and links
ul {
    display: inline;
}

li {
    list-style-type: none;
    font-family: $inconsolata;
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
}

a {
    font-family: $inconsolata;
    color: $secondary-color;
    background-color: $primary-color;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: $primary-color;
    background-color: $secondary-color;
}

a:active {
    background-color: $primary-color;
    color: $secondary-color;
  }

.underline-links {
    color: $primary-color;
    background-color: $secondary-color;
}

// Medium screen
@media screen and (min-width: 767px) {

// Fonts
    p,
    a {
        font-size: 1rem;
    }
    h2,
    h3,
    h4 {
        font-size: 1.2rem;
    }
    li {
        list-style-type: none;
        font-family: "Inconsolata",monospace;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 2rem;
    }
}