// Mobile first (additional media queries may exist further down for larger screens)

/*-------------------------------------------*\
   _nav.scss
 
   Index
   - Sections
   - Font
   - Navigation with links for medium screens and up 
\*-------------------------------------------*/

// Navigation without links
nav {
    z-index: 1;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 40px;
    border-bottom: 2px solid $primary-color;
    background-color: $primary-color;
}

.navbar {
    display: none;
}

//Font
h1 {
    margin: 0 10px;
    font-family: $inconsolata;
    color: $secondary-color;
    display: inline;
    text-align: left;
    font-size: 1rem;
    padding: 10px;
}

// Medium screen and up
@media screen and (min-width: 767px) {

// Navigation with links
.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px;
}
h1 {
    font-size: 1.5rem;
}
.navbar {
    display: flex;
    align-items: center;
    a {
    font-size: 1rem;
    margin: 5px;
    @include respond(large) {
        font-size: 1.5rem;
    }
   }
  }
}