// Mobile first (additional media queries for medium, large and largest screen)
nav {
    z-index: 1;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 40px;
    border-bottom: 2px solid $primary-color;
    background-color: $primary-color;
}

.navbar {
    display: none;
}

h1 {
    margin: 0 10px;
    font-family: $inconsolata;
    color: $secondary-color;
    display: inline;
    text-align: left;
    font-size: 1rem;
    padding: 2px;
}

// Medium screen and up
@media screen and (min-width: 767px) {

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
h1 {
    font-size: 1.5rem;
}
.navbar {
    display: flex;
    align-items: center;
    margin-right: 10px;
    a {
    font-size: 1rem;
    margin: 5px;
    @include respond(large) {
        font-size: 1.5rem;
    }
    }
}
}