@import 'config';
@import 'nav';
@import 'header';
@import 'main';
@import 'footer';

* {
    box-sizing: border-box;
}

    html {
        font-size: 16px;
    }

    body {
        background: url(../img/background-image_768px.jpg) repeat;
        @include respond(medium) {
            background: url(../img/background-image_1700px.jpg) repeat;
        }
        @include respond(large) {
            background: url(../img/background-image_2000px.jpg) repeat;
        }
        width: 100%;
        height: 100vh;
        margin: 0;
        scroll-behavior: smooth;
    }

    .apart {
        border: 1px solid $primary-color;
    }

    .slash {
    color: $secondary-color;
    }

    .underline {
        color: $primary-color;
        background-color: $secondary-color;
    }

// Medium and large screen
@media screen and (min-width: 767px) {

}