@import 'config';
@import 'nav';
@import 'header';
@import 'main';
@import 'footer';

* {
    box-sizing: border-box;
}

    html {
        font-size: 16px;
    }

    body {
        background: url(../img/background-image-medium.jpg) no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        scroll-behavior: smooth;
    }

    .apart {
        border: 1px solid white;
    }

    .slash {
        color: rgba(0, 0, 0, 0.5);
        font-weight: bolder;
    }

    .underline {
        color: white;
        background-color: black;
    }

// Medium and large screen
@media screen and (min-width: 767px) {

}