@import 'config';
@import 'nav';
@import 'header';
@import 'main';
@import 'footer';

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
// Background image is roughly edited in GIMP, originally taken from https://unsplash.com/@nasa
    background: url(../img/background-image_768px.jpg) repeat;
    @include respond(medium) {
        background: url(../img/background-image_1700px.jpg) repeat;
    }
    @include respond(large) {
        background: url(../img/background-image_2000px.jpg) repeat;
    }
    width: 100%;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

// Styling throughout the page
.apart {
     border: .5px solid $primary-color;
}
.slash {
    color: $secondary-color;
}
.underline {
    color: $primary-color;
    background-color: $secondary-color;
}